!.gitignore
*.o
*.a
*.so
*.dll
*.obj
*.def
*.pdb
*.filters
*.user
*.suo
*.db
*.ipch
*.cache
*.log
*.sln
*.vcxproj
*.opendb
*.db-wal
*.db-shm
src/[Mm]akefile
test/[Mm]akefile
examples/[Mm]akefile
test/dtest
test/itest

*.exe
*.swp
*.bak

*.exp
*.lib
*.res

chapters/*
scripts/*
hash/*
src/.vs/*
